.super-mario {
  width: 200px;
  /* 1 - Posicione o Mário acima do Goomba. */
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 350px;
}

.goomba {
  width: 100px;
  /* 1 - Posicione o Mário acima do Goomba. */
  position: absolute;
  z-index: 2;
  top: 500px;
  left: 400px;
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 520px;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 120px;
  left: 540px;
  z-index: 4;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 5;
  top: 230px;
  left: 820px;
}
