/*  1 - Faça com que todos os itens de Listas Ordenadas tenham uma cor 
de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte s
er verde. Se o número for considerado ÍMPAR, utilize a propriedade 
text-transform para deixar o texto maiúsculo. (Dica: combinar classes 
pode ser útil aqui).  */
ol li {
  background-color: yellow;
}
ol li:nth-child(even) {
  color: green;
}
ol li:nth-child(odd) {
  text-transform: uppercase;
}
/*  2 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha 
e, se alguma delas estiver em itálico, aumente seu tamanho para 40px e 
acrescente uma borda de 1px preta e sólida. */
h1,
h3 {
  color: red;
}
h1 em,
h3 em {
  font-size: 40px;
  border: 1px solid;
}
/*  3 - Faça todas as li's terem 20px de tamanho de fonte e, para todo 
texto em itálico dentro de alguma li, utilize a propriedade font-weight 
para deixá-lo negrito.  */
li {
  font-size: 20px;
}
li em {
  font-weight: bold;
}
